$font-color: #000000;
@media (prefers-color-scheme:light) {
    body {
        background: linear-gradient(1000deg, rgb(138, 196, 41) 0%, rgba(255, 177, 52));
        color: #ffffff;
    }

    .zebra, .sileo{
        background: #e1e1e186;
        color: rgba(255, 255, 255, 0.5);
    }


    p,a,h1{
        color:$font-color;
    }

    .baner{
        background: rgba(252, 254, 255, 0.112);
    }


}


