@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(1000deg, rgb(144, 54, 240), rgb(21, 0, 90));
  }
  .zebra, .sileo {
    background: rgba(0, 0, 0, 0.5215686275);
  }
  a, h1, p {
    color: #ffffff;
  }
  .baner {
    background: rgba(252, 254, 255, 0.075);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(1000deg, rgb(138, 196, 41) 0%, rgb(255, 177, 52));
    color: #ffffff;
  }
  .zebra, .sileo {
    background: rgba(225, 225, 225, 0.5254901961);
    color: rgba(255, 255, 255, 0.5);
  }
  p, a, h1 {
    color: #000000;
  }
  .baner {
    background: rgba(252, 254, 255, 0.112);
  }
}