@font-face {
    font-family: "SF Pro Rounded Regular";
    src: url("SF-Pro-Rounded-Regular.ttf");
  }
body {
    background: linear-gradient(1000deg, rgb(144, 54, 240), rgb(21, 0, 90));
    font-family: "SF Pro Rounded Regular";
    color: #ffffff85;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 900%;
    /* margin: 20%; */
    /* margin-left: 30%;
    padding: 0;
    border: 0; */
    
}

h1 {
    text-align: center;
} 

p {
    font-weight: bold;
    margin-bottom: 20px;
}

.sileo {
    border-radius: 9px;
    background: #00000085;
    padding: 10px;
    margin: 5px;
    width: 50%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
} 
.zebra {
    border-radius: 9px;
    background: #00000085;
    width: 50%;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.content{

 
    align-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 500px; */
    margin-left: 10%;
    margin-right: 10%;


}

.baner{
    background: rgba(252, 254, 255, 0.075);
    padding: 3.5vw;
    border-radius: 15px;

}

.addrepo{

    line-height: 30px;
    text-align: center;
  

    width: 100%;

    display: block;
    margin: 0 auto;

    border-radius: 5px;
    max-width: 500px;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    /* flex-wrap: wrap; */
}

/* .incenter{
    margin-top: 10%;
    padding: 100px;
    text-align: center;


    border-radius: 5px;
    max-width: 500px;

    padding: 3.5vw;
    border-width: 5px 0;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    background: rgba(252, 254, 255, 0.11);
        background-color: #FFF;
        vertical-align: baseline;
} */